<form action="#" class="mt-4" role="form" method="POST" [formGroup]="loginForm" (ngSubmit)="login()">
  <legend>Welcome to SVTickets!</legend>

  <div class="mb-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }" />
    @let emailErrors = loginForm.get('email')?.errors;
    @if(emailErrors?.['required']) {
    <div class="invalid-feedback">Email cannot be empty</div>
    } @if(emailErrors?.['email']) {
    <div class="invalid-feedback">Must be email type</div>
    }
  </div>

  <div class="mb-3">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }" />

    @let pwErrors = loginForm.get('password')?.errors;
    @if(pwErrors?.['required']) {
    <div class="invalid-feedback">Password cannot be empty</div>
    } @if(pwErrors?.['minLength']) {
    <div class="invalid-feedback">Must be at least 4 characters long</div>
    }
  </div>

  <div class="form-row d-none">
    <div class="mb-3 col">
      <label for="lat">Latitude:</label>
      <input type="text" class="form-control" id="lat" formControlName="lat" placeholder="Geolocating..." readonly />
    </div>
    <div class="mb-3 col">
      <label for="lng">Longitude:</label>
      <input type="text" class="form-control" id="lng" formControlName="lng" placeholder="Geolocating..." readonly />
    </div>
  </div>

  <p class="text-danger"></p>
  <button type="submit" class="btn btn-primary">Login</button>
  <div>
    <google-login class="btn" (login)="googleUserLogin($event)"></google-login>
  </div>
</form>